* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    45deg,
    #1e66f53a,
    #1e66f53a 20px,
    #cccccc 20px,
    #cccccc 40px
  );
}
.img1 {
  background-image: url(./scr/img/1.jpg);
}
.img2 {
  background-image: url(./scr/img/2.jpg);
}
.img3 {
  background-image: url(./scr/img/3.jpg);
}
.img4 {
  background-image: url(./scr/img/4.jpg);
}
.img5 {
  background-image: url(./scr/img/5.jpg);
}

.wrapper {
  height: 40em;
  margin: 100px auto 0;
  position: relative;
  width: 80%;
}
.wrapper input {
  display: none;
}
ul.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: black;
  margin: 0 auto;
  list-style-type: none;
}
li.slides {
  height: inherit;
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
}
.img {
  width: inherit;
  height: 90%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}
.img-description {
  font-size: 24px;
  text-align: center;
  padding-top: 8px;
  color: white;
}
#checkbox1:checked ~ .slider .slide1,
#checkbox2:checked ~ .slider .slide2,
#checkbox3:checked ~ .slider .slide3,
#checkbox4:checked ~ .slider .slide4,
#checkbox5:checked ~ .slider .slide5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}
.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  transition: background ease-in-out 0.5s;
}
label:nth-child(1),
label:nth-child(2),
label:nth-child(3),
label:nth-child(4),
label:nth-child(5) {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #5308ea8d; */
}
.test{
  width: 15px;
  height: 15px;
  background-color: #5308ea8d;
  border-radius: 50%;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper label:hover,
#checkbox1:checked ~ .controls label:nth-of-type(1),
#checkbox2:checked ~ .controls label:nth-of-type(2),
#checkbox3:checked ~ .controls label:nth-of-type(3),
#checkbox4:checked ~ .controls label:nth-of-type(4),
#checkbox5:checked ~ .controls label:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8e8e8;
}
.controls label:active{
  background-color: black;
}